PORT=5480
AVI_CONTROLLER=us-east-avi.demo.lab
AVI_USERNAME=admin
AVI_PASSWORD=replace-with-password
AVI_API_VERSION=32.1.1
AVI_CLOUD=Demo NSX Cloud
AVI_SE_GROUP=Scaleout-SEG
AVI_TLS_VERIFY=false
AUTO_RESET_SECONDS=10
SCALEIN_QUIET_SECONDS=30

